<header class="header">
  <div class="container header-content">
    <h1>Pastes</h1>
    <nav class="nav">
      <a href="/pastes">Pastes</a>
      <a href="/sucursales">Sucursales</a>
      <a href="/nosotros">Nosotros</a>
      <a href="/franquicias">Franquicias</a>
      <a href="/facturacion">Facturacion</a>
      <a href="/atencion">Atencion a clientes</a>
    </nav>
  </div>
</header>
