<main class="legend">
  <div class="legend-dif"></div>
  <div>
    <h2 data-aos="fade-up">
      <span>Un sabor</span>
      <span class="legend-special">que es</span>
      <span>inigualable</span>
    </h2>
  </div>
</main>
