<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./components/rootHead.ejs') %>
    <title>Pastes - Sabores</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
  </body>
</html>
